<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="robots" content="index, follow" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <!-- HTML Meta Tags -->
        <title>enginiuslab - contact</title>
        <meta name="description" content="enginiuslab is transforming industries with AI-powered digital solutions. Our world-class expert team delivers cutting-edge services to propel your business to new heights.">
        <meta name="keywords" content="enginiuslab, enginiuslab social media, contact, enginiuslab contact, enginiuslab contact us, enginiuslab contact form, enginiuslab contact email, enginiuslab contact phone">
    
        <!-- Facebook Meta Tags -->
        <meta property="og:url" content="https://www.enginiuslab.io">
        <meta property="og:type" content="website">
        <meta property="og:title" content="Contact us to discuss your project or get a free quote!">
        <meta property="og:description" content="enginiuslab is transforming industries with AI-powered digital solutions. Our world-class expert team delivers cutting-edge services to propel your business to new heights.">
        <meta property="og:image" content="https://raw.githubusercontent.com/enginiuslab/enginiuslab.github.io/ed6bf7b73406a8f1262dac26c8b1fdedefd1451b/static/ogp.png">
    
        <!-- Twitter Meta Tags -->
        <meta name="twitter:card" content="summary_large_image">
        <meta property="twitter:domain" content="enginiuslab.io">
        <meta property="twitter:url" content="https://www.enginiuslab.io">
        <meta name="twitter:title" content="Contact us to discuss your project or get a free quote!">
        <meta name="twitter:description" content="enginiuslab is transforming industries with AI-powered digital solutions. Our world-class expert team delivers cutting-edge services to propel your business to new heights.">
        <meta name="twitter:image" content="https://raw.githubusercontent.com/enginiuslab/enginiuslab.github.io/ed6bf7b73406a8f1262dac26c8b1fdedefd1451b/static/ogp.png">
        <!--opengraph-->
    
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="./static/favicon/favicon.ico">
        <link rel="apple-touch-icon" sizes="180x180" href="./static/favicon/apple-touch-icon.png">
        <link rel="icon" href="./static/favicon/favicon.ico">
        <link rel="manifest" href="./static/favicon/site.webmanifest">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet"  type="text/css" href="./static/assets/css/vendor/bootstrap.min.css">
        <link rel="stylesheet"  type="text/css" href="./static/assets/css/plugins/slick.css">
        <link rel="stylesheet"  type="text/css" href="./static/assets/css/plugins/font-awesome.css">
        <link rel="stylesheet"  type="text/css" href="./static/assets/css/plugins/icomoon.css">
        <link rel="stylesheet"  type="text/css" href="./static/assets/css/plugins/plugins.css">
        <link rel="stylesheet"  type="text/css" href="./static/assets/css/style.css">
    
        <script type="text/javascript" src="./static/vendors/petite-vue.min.js"></script>
    
        <!--page css-->
    
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-JT4J2D6ZFH"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
        
          gtag('config', 'G-JT4J2D6ZFH');
        </script>
    
        <!-- Hotjar Tracking Code for https://www.enginiuslab.io/ -->
        <script>
            (function(h,o,t,j,a,r){
                h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
                h._hjSettings={hjid:3131200,hjsv:6};
                a=o.getElementsByTagName('head')[0];
                r=o.createElement('script');r.async=1;
                r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
                a.appendChild(r);
            })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
        </script>

        <style>
            .social-icons {
                list-style: none;
                display: flex;
                justify-content: center;
                gap: 2rem;
                margin-top: 20px;
            }
            .social-icons li a img {
                width: 30px;
                height: 30px;
            }
        </style>
    </head>
<body>
    <div class="main-content">
        <!-- Start Header -->
        <header class="ax-header haeder-default light-logo-version header-transparent axil-header-sticky">
            <div class="header-wrapper">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-3 col-md-6 col-sm-6 col-8 header-left">
                            <div class="logo">
                                <a href="/">
                                    <img
                                        src="./static/logo.png"
                                        class="img-fluid"
                                        style="height: 75px"
                                    >
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-6 col-sm-6 col-4 header-right">
                            <div class="mainmenu-wrapepr">
                                <div class="axil-header-extra d-flex align-items-center">
                                    <div id="my_switcher" class="my_switcher ml--40">
                                        <ul>
                                            <li>
                                                <a href="javascript: void(0);" data-theme="light" class="setColor light">
                                                    <img src="./static/assets/images/day.svg" alt="Sun images">
                                                </a>
                                            </li>
                                            <li>
                                                <a id="darkModeSwitch" href="javascript: void(0);" data-theme="dark" class="setColor dark">
                                                    <img src="./static/assets/images/night.svg" alt="Vector Images">
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header><!-- End Header -->
        

        <!-- Start Page Wrapper -->
        <main class="main-wrapper py-5">
            <!-- Start Contact Area  -->
            <div class="axil-contact-area axil-shape-position ax-section-gap bg-color-white">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-xl-5 col-12">
                            <div class="contact-form-wrapper">
                                <!-- Start Contact Form -->
                                <div class="axil-contact-form contact-form-style-1">
                                    <h3 class="title">Get a free enginiuslab quote now!</h3>
        
                                    <form method="POST" @submit.prevent="submitForm" action="javascript: void(0)" id="contactForm">
                                        <ul class="text-danger" style="font-size: .8rem; list-style: none; padding-left: 0px">
                                          <li v-if="apiError"><span style="font-size: 0.9rem">${apiError}</span></li>
                                          <li v-if="successMessage" class="text-success fw-bold"><span style="font-size: 0.9rem">${successMessage}</span></li>
                                          <li v-if="nameError"><b>Name:</b> <span style="font-size: 0.7rem">${nameError}</span></li>
                                          <li v-if="emailError"><b>Email:</b> <span style="font-size: 0.7rem">${emailError}</span></li>
                                          <li v-if="messageError"><b>Message:</b> <span style="font-size: 0.7rem">${messageError}</span></li>
                                        </ul>
                                        <div class="form-group">
                                            <input v-model="name" @keyup="validateName" name="con_name" type="text">
                                            <label>Name</label>
                                            <span class="focus-border"></span>
                                        </div>
                                        <div class="form-group">
                                            <input v-model="email" @keyup="validateEmail" name="con_email" type="email">
                                            <label>Email</label>
                                            <span class="focus-border"></span>
                                        </div>
                                        <div class="form-group mb-0">
                                            <textarea v-model="message" @keyup="validateMessage" minlength="160" maxlength="1000" name="con_message"></textarea>
                                            <label>Your message</label>
                                            <span class="focus-border"></span>
                                        </div>
                                        <div class="text-end mb-4" >
                                          <small id="messageCounter" style="border: none">${message.length}/1000</small>
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="axil-button btn-transparent">
                                              <span v-if="!isSubmitting" class="text-color-primary">Send message</span>
                                              <!--spinner-->
                                              <div
                                                v-else
                                                style="height: 1.1rem; width: 1.1rem"
                                                class="spinner-border"
                                                role="status"
                                              >
                                                <span class="visually-hidden">.</span>
                                              </div>
                                            </button>
                                        </div>
                                    </form>
                                    
                                    <script type="text/javascript">
                                    PetiteVue.createApp({
                                      $delimiters: ['${', '}'],
                                      isSubmitting: false,
                                      name: "",
                                      email: "",
                                      message: "",
                                      nameError: "",
                                      emailError: "",
                                      messageError: "",
                                      submitContentDefault: "Send Message",
                                      submitContent: "Send Message",
                                      messageIndicator: "",
                                      apiError: "",
                                      successMessage: "",
                                    
                                      validateName() {
                                        if(this.name.length < 3) this.nameError = "Too short name"
                                        else this.nameError = ""
                                      },
                                      validateEmail() {
                                        if(!this._valid_email()) this.emailError = "Invalid email address."
                                        else this.emailError = ""
                                      },
                                    
                                      validateMessage() {
                                        if(this.message.length < 160) this.messageError = "Message can not be less than 160 characters"
                                        else if(this.message.length > 1000) this.messageError = "Too long message!"
                                        else this.messageError = ""
                                    
                                        let counterEl = document.getElementById("messageCounter")
                                        if(this.messageError === "") counterEl.setAttribute("class", "")
                                        else counterEl.setAttribute("class", "text-danger")
                                    
                                        if(this.message.length >= 160 && this.message.length <= 1000) counterEl.setAttribute("class", "text-success")
                                      },
                                    
                                      // methods
                                      _valid_email() {
                                        let res = Boolean(String(this.email)
                                          .toLowerCase()
                                          .match(
                                              /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
                                          ))
                                        return res
                                      },
                                    
                                      async submitForm() {
                                        if(this.isSubmitting) return
                                        this.apiError = ""
                                        this.successMessage = ""
                                        // show spinner
                                        this.isSubmitting = true
                                    
                                        if(this.nameError === "" && this.emailError === "" && this.messageError === "") {
                                          // handle post request call here
                                          let searchObj = new URLSearchParams(window.location.search)
                                          let ref = searchObj.get("ref") || ""
                                          let url = `https://hook.eu2.make.com/mdxxgkffvtgprnjmev4xos5udzeq7yz6?name=${this.name}&email=${this.email}&message=${this.message}&ref=${ref}`
                                          const ck = await fetch(url, {
                                            method: "POST",
                                            mode: "no-cors",
                                          });
                                          
                                          if (ck) {
                                            this.successMessage = "Request was submitted successfully."
                                            // reset form
                                            this.name = ""
                                            this.email = ""
                                            this.message = ""
                                          } else {
                                            this.apiError = "Something went wrong! Please try again later?"
                                          }
                                        } else {
                                          alert("Please fix the errors and try again")
                                        }
                                        // restore default
                                        setTimeout(() => {
                                          this.isSubmitting = false
                                        }, 1500)
                                      }
                                    }).mount("#contactForm")
                                    </script>
        
                                </div>
                                <!-- End Contact Form -->
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-xl-6 offset-xl-1 col-12 mt_md--40 mt_sm--40">
                            <div class="axil-address-wrapper">
                                <!-- Start Single Address  -->
                                <div class="axil-address wow move-up">
                                    <div class="inner">
        
                                        <div class="icon">
                                            <i class="fas fa-phone"></i>
                                        </div>
                                        <div class="content">
                                            <h4 class="title">Make a Call</h4>
                                            <p>Call us to discuss your idea/project.</p>
                                            <p><a class="axil-link" href="tel:+1 (617) 963-0281">+1 (617) 963-0281</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Address  -->
                                <!-- Start Single Address  -->
                                <div class="axil-address wow move-up mt--60 mt_sm--30 mt_md--30">
                                    <div class="inner">
                                        <div class="icon">
                                            <i class="fal fa-envelope"></i>
                                        </div>
                                        <div class="content">
                                            <h4 class="title">Shoot Us an Email</h4>
                                            <p>Send us email to discuss your project or even to say hi! We will get back to you within 48hr hours.
                                            </p>
                                            <p><a class="axil-link" href="mailto:contact@enginiuslab.io">contact@enginiuslab.io</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Address  -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="shape-group">
                    <div class="shape shape-01">
                        <i class="icon icon-contact-01"></i>
                    </div>
                    <div class="shape shape-02">
                        <i class="icon icon-contact-02"></i>
                    </div>
                    <div class="shape shape-03">
                        <i class="icon icon-contact-03"></i>
                    </div>
                </div>
            </div>
            <!-- End Contact Area  -->
        
        </main>
        <!-- End Page Wrapper -->

        
        <!-- Start Footer Area -->
        <footer class="axil-footer footer-default theme-gradient-2">
            <div class="bg_image--2">
                <!-- Start Footer Top Area -->
                <div class="footer-top ax-section-gap">
                    <div class="container">
                        <div class="row">
        
                            <!-- Start Single Widget -->
                            <div class="col-12 mt_mobile--30">
                                <h4 class="text-center">FOLLOW US ON</h4>
                                <ul class="social-icons">
                                    <li>
                                        <a target="_blank" href="https://www.linkedin.com/company/enginiuslab-io">
                                            <img src="./static/assets/images/icons/linkedin.png" />
                                        </a>
                                    </li>
                                    <li>
                                        <a target="_blank" href="https://www.facebook.com/enginiuslab.io">
                                            <img src="./static/assets/images/icons/fb.png" />
                                        </a>
                                    </li>
                                    <li>
                                        <a target="_blank" href="https://x.com/enginiuslab">
                                            <img src="./static/assets/images/icons/x.png" />
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!-- End Single Widget -->
                        
                        </div>
                    </div>
                </div>
                <!-- End Footer Top Area -->
                <!-- Start Copyright -->
                <div class="copyright copyright-default">
                    <div class="container">
                        <div class="row row--0 ptb--20 axil-basic-thine-line">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="inner text-center text-md-start">
                                    <p>All rights reserved by enginiuslab</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="quick-contact">
                                    <ul class="link-hover d-flex justify-content-center justify-content-md-end liststyle">
                                        <li><a href="#">© <span id="cyear">2020</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Copyright -->
            </div>
        </footer>
        <!-- End Footer Area -->
    </div>

    <!-- JS ============================================ -->
    <!-- Modernizer JS -->
    <script type="text/javascript" src="./static/assets/js/vendor/modernizr.min.js"></script>
    <!-- jQuery JS -->
    <script type="text/javascript" src="./static/assets/js/vendor/jquery.js"></script>
    <!-- Bootstrap JS -->
    <script type="text/javascript" src="./static/assets/js/vendor/bootstrap.min.js"></script>
    <script type="text/javascript" src="./static/assets/js/waypoints.min.js"></script>
    <script type="text/javascript" src="./static/assets/js/wow.js"></script>
    <script type="text/javascript" src="./static/assets/js/counterup.js"></script>
    <script type="text/javascript" src="./static/assets/js/imagesloaded.js"></script>
    <script type="text/javascript" src="./static/assets/js/isotope.js"></script>
    <script type="text/javascript" src="./static/assets/js/tilt.js"></script>
    <script type="text/javascript" src="./static/assets/js/anime.js"></script>
    <script type="text/javascript" src="./static/assets/js/tweenmax.js"></script>
    <script type="text/javascript" src="./static/assets/js/slipting.js"></script>
    <script type="text/javascript" src="./static/assets/js/scrollmagic.js"></script>
    <script type="text/javascript" src="./static/assets/js/addindicators.js"></script>
    <script type="text/javascript" src="./static/assets/js/slick.js"></script>
    <script type="text/javascript" src="./static/assets/js/youtube.js"></script>
    <script type="text/javascript" src="./static/assets/js/countdown.js"></script>
    <script type="text/javascript" src="./static/assets/js/scrollup.js"></script>
    <script type="text/javascript" src="./static/assets/js/stickysidebar.js"></script>
    <script type="text/javascript" src="./static/assets/js/js.cookie.js"></script>
    <script type="text/javascript" src="./static/assets/js/jquery.style.switcher.js"></script>
    <script type="text/javascript" src="./static/assets/js/contactform.js"></script>
    <!-- Plugins JS -->
    <script type="text/javascript" src="./static/assets/js/plugins/plugins.min.js"></script>
    <script type="text/javascript" src="./static/vendors/petite-vue.min.js"></script>
    <!-- Main JS -->
    <script type="text/javascript" src="./static/assets/js/main.js"></script>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var d = new Date();
            var n = d.getFullYear();
            document.getElementById("cyear").innerHTML = n;
        });
    </script>
</body>

</html>
